@import "tailwindcss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  -webkit-text-size-adjust: 100%;
  margin: 0px;
  color: rgb(15, 7, 38);
  font-weight: normal;
  font-family: Mulish, Arial, sans-serif;
  background-color: rgb(249, 251, 251);
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
}
